body{
  background-color:lavender;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  
}


/* Header **/
header{
  background:gainsboro;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:darkseagreen 3px solid;
}

header a{
  color:gray
  text-decoration: none; 
  text-transform: uppercase;
}

header li{
  float:
  display:
  padding: 
}

header #branding{
  float:
}

header #branding h1{
  margin:
}

header nav{
  float:
  margin-top:
}

header .highlight, header .current a{
  color:
  font-weight:
}

header a:hover{
  color:
  font-weight:
}


footer{
  padding:20px;
  margin-top:20px;
  color:black;
  background-color:bisque;
  text-align: center;
}



  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:
    margin-bottom:
  }

